.aiInsightText {
  position: relative;
  min-height: 24px;

  ul,
  ol {
    color: var(--color-text-primary);
  }

  ul li::marker,
  ol li::marker {
    color: var(--color-text-primary);
  }
}

.typingCursor {
  position: relative;
}

.typingCursor::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 100%;
  width: 4px;
  height: 1em;
  margin-left: 4px;
  background-color: var(--color-text-primary);
  animation: blink 1s steps(1) infinite;
}

@keyframes blink {
  0%,
  50% {
    opacity: 1;
  }
  50.01%,
  100% {
    opacity: 0;
  }
}
