.theme-dark {
  /**
   * @tokens Category-Colors
   * @presenter Color
   */
  --color-category-green: var(--color-category-dark-green);
  --color-category-blue: var(--color-category-dark-blue);
  --color-category-red: var(--color-category-dark-red);
  --color-category-yellow: var(--color-category-dark-yellow);
  --color-category-orange: var(--color-category-dark-orange);
  --color-category-purple: var(--color-category-dark-purple);
  --color-category-pink: var(--color-category-dark-pink);
  --color-category-turquoise: var(--color-category-dark-turquoise);

  /**
   * @tokens Icon-Colors
   * @presenter Color
   */
  --color-icon-primary: var(--color-white);
  --color-icon-secondary: var(--color-text-secondary);
  --color-icon-disabled: var(--color-dark-text-disabled);

  /**
   * @tokens App-Colors
   * @presenter Color
   */
  --color-app-bg: var(--color-black);

  /**
     * @tokens Button-Colors-Contained
     * @presenter Color
     */
  /*  Contained */
  --color-button-contained-bg: var(--color-white); /* White background for contained button */
  --color-button-contained-color: var(--color-black); /* Black text for contained button */
  --color-button-contained-disabled: var(--color-dark-surface-variant);

  /**
     * @tokens Button-Colors-Outlined
     * @presenter Color
     */
  /*  Outlined */
  --color-button-outlined-bg: var(--color-black); /* Black background for outlined button */
  --color-button-outlined-color: var(--color-white); /* White text */
  --color-button-outlined-border: var(--color-white); /* White border */
  --color-button-outlined-disabled: var(--color-dark-text-disabled);

  /**
     * @tokens Card-Colors
     * @presenter Color
     */
  --color-card-bg: rgba(21, 21, 22, 1);
  --color-card-shadow: none;
  /**
   * @tokens Text-Colors
   * @presenter Color
   */
  --color-text-primary: #fff;
  --color-text-secondary: #b0b0b0;

  /**
   * @tokens Avatar-Colors
   * @presenter Color
   */
  --color-avatar-bg: #424242;
  --color-avatar-text: #ffffff;

  /**
   * @tokens ButtonDropdown-Colors
   * @presenter Color
   */
  --color-dropdown-bg: var(--color-dark-grey);
  --color-dropdown-text: var(--color-white);
  --color-dropdown-icon: var(--color-white);
  --color-dropdown-hover-bg: rgba(255, 255, 255, 0.1);

  /**
   * @tokens Toggle-Colors
   * @presenter Color
   */
  --color-toggle-bg-off: var(--color-black);
  --color-toggle-bg-on: var(--color-white);
  --color-toggle-border: var(--color-white);
  --color-toggle-thumb: var(--color-black);
  --color-toggle-thumb-border: var(--color-white);

  /**
   * @tokens CalculatorButton-Colors
   * @presenter Color
   */
  --color-calculator-button-bg: transparent;
  --color-calculator-button-text: var(--color-white);
  --color-calculator-button-hover-bg: rgba(255, 255, 255, 0.05);
  --color-calculator-button-active-bg: rgba(255, 255, 255, 0.1);
  --color-calculator-button-disabled-bg: transparent;
  --color-calculator-button-disabled-text: var(--color-dark-text-disabled);

  /**
   * @tokens Input-Colors
   * @presenter Color
   */
  --color-input-bg: #1c1c1e;
  --color-input-focus-bg: #0e0e10;
  --color-input-disabled-bg: #1c1c1e;
  --color-input-text: #ffffff;
  --color-input-placeholder: #808080;
}
