/* Применяем светлую тему по умолчанию и при явном указании класса */
:root,
.theme-light {
  /**
   * @tokens Light-Theme-Colors
   * @presenter Color
   */
  --color-primary: var(--color-light-primary);
  --color-background: var(--color-light-background);
  --color-surface: var(--color-light-surface);
  --color-surface-variant: var(--color-light-surface-variant);
  --color-text-primary: var(--color-light-text-primary);
  --color-text-secondary: var(--color-light-text-secondary);
  --color-text-disabled: var(--color-light-text-disabled);
  --color-button-primary: var(--color-light-primary);
  --color-button-secondary: var(--color-light-surface);
  --color-button-disabled: var(--color-light-text-disabled);
  --color-border: var(--color-light-border);
  --color-border-active: var(--color-light-border-active);

  /**
   * @tokens Status-Colors
   * @presenter Color
   */
  --color-error: var(--color-error);
  --color-success: var(--color-success);
  --color-warning: var(--color-warning);

  /**
   * @tokens Light-Categories
   * @presenter Color
   */
  --color-category-food: var(--color-category-light-green);
  --color-category-transport: var(--color-category-light-blue);
  --color-category-house: var(--color-category-light-red);

  /**
   * @tokens Button-Colors
   * @presenter Color
   */
  /* Primary Contained */
  --color-button-primary-contained-bg: var(--color-light-primary); /* Black background */
  --color-button-primary-contained-color: var(--color-dark-primary); /* White text */
  --color-button-primary-contained-hover: var(--color-graphite);
  --color-button-primary-contained-active: var(--color-light-surface-variant);
  --color-button-primary-contained-disabled: var(--color-graphite);

  /* Primary Outlined */
  --color-button-primary-outlined-bg: var(--color-light-background); /* White background */
  --color-button-primary-outlined-color: var(--color-light-text-primary); /* Black text */
  --color-button-primary-outlined-border: var(--color-light-primary); /* Black border */
  --color-button-primary-outlined-hover: var(--color-light-surface-variant);
  --color-button-primary-outlined-active: var(--color-light-surface-variant);
  --color-button-primary-outlined-disabled: var(--color-light-text-disabled);

  /* Secondary Contained */
  --color-button-secondary-contained-bg: var(--color-graphite); /* Light surface background */
  --color-button-secondary-contained-color: var(--color-dark-primary); /* White text */
  --color-button-secondary-contained-hover: var(--color-text-disabled);
  --color-button-secondary-contained-active: var(--color-light-surface-variant);
  --color-button-secondary-contained-disabled: var(--color-light-text-disabled);

  /* Secondary Outlined */
  --color-button-secondary-outlined-bg: var(--color-light-background); /* White background */
  --color-button-secondary-outlined-color: var(--color-light-text-primary); /* Black text */
  --color-button-secondary-outlined-border: var(--color-light-primary); /* Black border */
  --color-button-secondary-outlined-hover: var(--color-light-surface-variant);
  --color-button-secondary-outlined-active: var(--color-light-surface-variant);
  --color-button-secondary-outlined-disabled: var(--color-light-text-disabled);
}