:root {
  /**
   * @tokens Typography-Family
   * @presenter FontFamily
   */
  --font-family: 'Inter', sans-serif;

  /**
   * @tokens Typography-Sizes 
   * @presenter FontSize
   */
  --font-size-h1: 28px;
  --font-size-h2: 24px;
  --font-size-h3: 16px;
  --font-size-body1: 14px;
  --font-size-body2: 12px;
  --font-size-button: 16px;

  /**
   * @tokens Typography-LineHeight
   * @presenter LineHeight
   */
  --line-height-h1: 1.14;
  --line-height-h2: 1.25;
  --line-height-h3: 1.25;
  --line-height-body1: 1.29;
  --line-height-body2: 1.17;
  --line-height-button: 1.25;

  /**
   * @tokens Typography-Weights
   * @presenter FontWeight
   */
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-bold: 700;
}

/* Text Style Classes */
.h1 {
  font-family: var(--font-family);
  font-size: var(--font-size-h1);
  font-weight: var(--font-weight-medium);
  line-height: var(--line-height-h1);
}

.h2 {
  font-family: var(--font-family);
  font-size: var(--font-size-h2);
  font-weight: var(--font-weight-bold);
  line-height: var(--line-height-h2);
}

.h3-bold {
  font-family: var(--font-family);
  font-size: var(--font-size-h3);
  font-weight: var(--font-weight-bold);
  line-height: var(--line-height-h3);
}

.h3-medium {
  font-family: var(--font-family);
  font-size: var(--font-size-h3);
  font-weight: var(--font-weight-medium);
  line-height: var(--line-height-h3);
}
