.avatarBox {
  position: relative;
  border-radius: 16px;
  display: inline-block;
  margin-bottom: 16px;
  overflow: hidden;
}

.hidden {
  display: none;
}

.deleteButton {
  background-color: #ed5145;
  color: #fff;
}

.cameraButton {
  position: absolute;
  bottom: -8px;
  right: 0;
  left: 0;
  padding: 4px;
  border-radius: 0;
}
