.rootStack {
  max-height: 100%;
}

.rowStack {
  max-height: 100%;
}

.addExpenseBox {
  position: fixed;
  bottom: 0;
  right: 0;
  max-width: 100%;
}

.addExpenseBoxRelative {
  max-width: 100%;
}

.wrapperBox {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow-y: auto;
}